
 /* SOLO  PER LAYOUT */
/* DA CANCELLARE */
/* .container {
    border: 3px solid black;
}

.container-fluid {
    border: 3px solid red;
}

.row {
    border: 3px solid blue;
}
header {
    min-height: 80px;
}

section {
    min-height: 300px;
}

[class^='col'] {
    border: 2px solid orange;
    min-height: 50px;
} */



/* Body */

body {
    padding-top: 120px;
}

/* background */

.bg-black {
    background-color: black;
}

.bg-orange {
    background-color: #CD3D0F;
}

.bg-blue {
    background-color: #2D64E6;
}

.bg-d-gray {
    background-color: #1F1F1F;
}

/* Header */

.header-top {
    height: 40px;
}

.header-bottom {
    height:80px;
}

/* Featured */

#featured-games .jumbotron-fluid {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
}

/* questo selettore può essere fatto meglio */
#featured-games img, #new-releases-gallery img {
    border-radius: 20px;
}

/* New-releases */

#new-releases .jumbotron-fluid {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
}