
 /* SOLO  PER LAYOUT */
/* DA CANCELLARE */
/* .container {
    border: 3px solid black;
}

.container-fluid {
    border: 3px solid red;
}

.row {
    border: 3px solid blue;
}
header {
    min-height: 80px;
}

section {
    min-height: 300px;
}

[class^='col'] {
    border: 2px solid orange;
    min-height: 50px;
} */

/* background */

.bg-black {
    background-color: black;
}

#sony-logo {
    max-width: 80px;
    height: auto;
}