
 /* SOLO  PER LAYOUT */
/* DA CANCELLARE */
/* .container {
    border: 3px solid black;
}

.container-fluid {
    border: 3px solid red;
}

.row {
    border: 3px solid blue;
}
header {
    min-height: 80px;
}

section {
    min-height: 300px;
}

[class^='col'] {
    border: 2px solid orange;
    min-height: 50px;
} */



/* Body */

body {
    padding-top: 110px;
}

/* background  color*/

.bg-black {
    background-color: black;
}

.bg-orange {
    background-color: #CD3D0F;
}

.bg-l-blue {
    background-color: #2D64E6;
}

.bg-blue {
    background-color: #00439C;
}

.bg-d-blue {
    background-color: #161C3B;
}

.bg-d-gray {
    background-color: #1F1F1F;
}

.bg-gray {
    background-color: #BEBCBB;
}

.bg-l-gray {
    background-color: #D9DADC;;
}

/* text color */

.text-blue {
    color: #2D64E6;
}

/* width */

.w-20 {
    width: 20%;
}

/* Header */

#sony-logo {
    height: 15px;
    width: auto;
}

.header-top {
    height: 30px;
}

.header-bottom {
    height:80px;
}

/* Jumbotron */

.jumbotron-fluid {
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top center;
}

#new-releases .jumbotron-fluid {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#featured-games .jumbotron-fluid {
    background-image: url(../img/jumbo-bg.png);
    padding-top: 150px;
}

/* questo selettore può essere fatto meglio */
#featured-games img, #new-releases-gallery img {
    border-radius: 20px;
}

/* New-releases */

